# ======================================
# OS specific
# ======================================
# VS Code workspace settings
.vscode/
.history/
*.code-workspace

# ======================================
# Microsoft Specific
# ======================================
# Microsoft 365 file opened
~$*


# ======================================
# Python venv
# ======================================
# venv
*venv*

# ======================================
# latex temp files
# ======================================
*.aux
*.bbl
*.blg
*.brf
*.log
*.nav
*.out
*.snm
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.xdv
*.pdf
*.lof
*.lot
*.run.xml
*.bcf
*.fls
*.maf
*.mtc*
*.alg
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr