# ======================================
# OS specific
# ======================================
# VS Code workspace settings
.vscode/
.history/
*.code-workspace

# ======================================
# Microsoft Specific
# ======================================
# Microsoft 365 file opened
~$*